<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RabbitMQHost" value="10.211.55.2" />
    <add key="RabbitMQPort" value="5672" />
    <add key="RabbitMQUsername" value="mqUser" />
    <add key="RabbitMQPassword" value="1234" />
    <add key="RabbitMessageQueue" value="sample.message.queue" />

    <add key="RabbitMessageQueueEarth" value="earth.message.queue" />
    <add key="RabbitMessageQueueMars" value="mars.message.queue" />
    <add key="RabbitMessageQueueSaturn" value="saturn.message.queue" />
    <add key="RabbitMessageExchange" value="message.exchange" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>